@import "mocha.css"; 

* {
    font-family: "Monaspace Argon NF";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: transparent;
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    margin: 8px;
    padding-left: 8px;
    padding-right: 8px;
    color: @text;
}

button {
    box-shadow: none;
    border: none;
    border-radius: 50%;
}

button:hover {
    background-color: @surface2;
    color: @base;
}

#workspaces button {
    padding: 4px 8px;
    margin: 4px;
    background-color: @surface2;
    color: @base;
    border-radius: 50%;
}

#workspaces button.focused {
    background-color: @mauve;
    color: @base;
}

#workspaces button.active {
    background-color: @mauve;
    color: @base;
}

#workspaces button.urgent {
    background-color: @red;
    color: @base;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#bluetooth,
#backlight,
#mode,
#scratchpad,
#custom-weather,
#custom-notification {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 999px;
}

#clock {
    background-color: @maroon;
    color: @base;
}

#clock.date {
    background-color: @mauve;
    color: @base;
}

#pulseaudio {
    background-color: @teal;
    color: @base;
}

#network {
    background-color: @yellow;
    color: @base;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}

#battery {
    background-color: @green;
    color: @base;
}

#bluetooth {
	background-color: @blue;
	color: @base;
}

#backlight {
	background-color: @mauve;
	color: @base;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-vpn {
    background-color: @lavender;
    color: @base;
}

#custom-notification {
	background-color: @sky;
	color: @base;
}

#custom-weather {
	background-color: @base;
	color: @text;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-weather .alt-view {
  font-style: italic;
} 

@keyframes blink-condition {
  from { opacity: 0.75; }
  to { opacity: 1; }
}

#custom-weather .hot {
    color: @maroon;
}

#custom-weather .cold {
    color: @blue;
}

#custom-weather .rain,
#custom-weather .snow,
#custom-weather .smoke {
    animation-name: blink-condition;
    animation-duration: 1s;
}