@import "mocha.css"; 

* {
    font-family: "SFRounded Nerd Font";
    font-size: 15px;
    min-height: 0;
    font-weight: bold;
    transition: padding 0.1s ease;
}

window#waybar {
    background: transparent;
}

button {
    box-shadow: none;
    border: none;
}

#window,
#workspaces button,
#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#bluetooth,
#backlight,
#mode,
#scratchpad,
#custom-weather,
#custom-notification {
  margin: 6px 4px 0;
  padding: 3px 10px;
  border-radius: 999px;
  background-color: alpha(@base, 0.7);
}

#workspaces button {
    color: @mauve;
}

#workspaces button:hover {
    background-color: @mauve;
    color: @base;
}

#workspaces button.focused {
    background-color: @mauve;
    color: @base;
}

#workspaces button.active {
    background-color: @mauve;
    color: @base;
    padding-left: 20px;
    padding-right: 20px;
}

#workspaces button.urgent {
    background-color: @red;
    color: @base;
}

#window {
    color: @text;
}

#clock {
    color: @maroon;
}

#clock.date {
    color: @mauve;
}

#pulseaudio {
    color: @teal;
}

#network {
    color: @yellow;
}

#cpu {
    color: @rosewater;
}

#memory {
    color: @flamingo;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}

#battery {
    color: @green;
}

#bluetooth {
	color: @blue;
}

#backlight {
	color: @mauve;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-vpn {
    color: @lavender;
}

#custom-notification {
	color: @sky;
}

#custom-weather {
	color: @text;
}