@import "mocha.css"; 

* {
    font-family: "SFRounded Nerd Font";
    font-size: 15px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
}

button {
    box-shadow: none;
    border: none;
}

#window,
#workspaces button,
#mpris,
#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#backlight,
#network,
#bluetooth,
#custom-weather,
#custom-notification {
  padding: 3px 8px;
  background-color: alpha(@crust, 0.7);
  color: @text;
}

#full-segments,
#window,
#workspaces button,
#mpris {
    margin: 6px 4px 0;
    border-radius: 999px;
}

#left-segments,
#clock,
#network,
#custom-weather {
    margin: 6px 0 0 4px;
    border-radius: 999px 0 0 999px;
}

#center-segments,
#backlight,
#pulseaudio,
#bluetooth,
#cpu {
    margin: 6px 0 0;
}

#right-segments,
#custom-notification,
#battery,
#memory {
    margin: 6px 4px 0 0;
    border-radius: 0 999px 999px 0;
}

#workspaces button {
    color: @mauve;
}

#workspaces button:hover {
    background-color: @mauve;
    color: @base;
}

#workspaces button.focused {
    background-color: @mauve;
    color: @base;
}

#workspaces button.active {
    background-color: @mauve;
    color: @base;
    padding-left: 20px;
    padding-right: 20px;
}

#workspaces button.urgent {
    background-color: @red;
    color: @base;
}

#window {
    color: @text;
}

#clock {
    color: @text;
}

#pulseaudio {
    color: @teal;
}

#network {
    color: @yellow;
}

#cpu {
    color: @rosewater;
}

#memory {
    color: @flamingo;
}

#idle_inhibitor {
    margin-right: 12px;
    color: @green;
}

#idle_inhibitor.activated {
    color: @red;
}

#battery {
    color: @green;
}

#bluetooth {
	color: @blue;
}

#backlight {
	color: @mauve;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-vpn {
    color: @lavender;
}

#custom-notification {
	color: @sky;
}

#custom-weather {
	color: @text;
}